<%-include ("../../partials/header.ejs") %>
<%-include ("../../partials/navBar.ejs") %>
    

    <div class="container">
        <hr>
        <div class="card">
            <div id="cardh" class="card-header">
                <h2>Novo Artigo</h2>    
            </div>
            <div id="cardb" class="card-body">
            
            
                <form method="POST" action="/articles/save">

                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo">
                   
                    <br>
                    <textarea class="form-control" name="body" id="article" cols="50" rows="15"></textarea>
                    <br>
                    <label for="">Categorias</label>
                    <select name="category" class="form-control" id="">
                        <% categories.forEach((category)=>{%>
                                                       
                            <option value="<%=category.id%>"> <%=category.title%></option>    
                        <%})%>    
                    </select>
                    <br>
                    <button class="btn btn-success">Enviar</button>


                </form>
            </div>
        </div>
    </div>




<%-include ("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language:'pt_BR',
        selector: "#article",
        plugins:[
            'advlist autolink link image list print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons '
        ]
    })

</script>